@import url('generico.css');

  .btn-val-pol{
    background: #f4f4f4;
    color: #111;

    text-align: center;
    text-transform: uppercase;
    border-radius: 0 !important;
    }
    
    .btn-val-pol:hover {
        background: #111 !important;
        color: whitesmoke !important;
        transition: all ease 600ms;
    }

    .nav-pills .nav-link.active{
      background: #111 !important;
      color: var(--gold) !important;
    }